<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WS - Ping Pong v.2</title>
    <script type="text/javascript" src="app.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"
</head>
<body>

<!--<div>
    <textarea id="message" style="width: 300p" placeholder="you nessages"></textarea>
    <button id="ping" onclick="ping()">Ping</button>
</div>
<div>
    <h3>Messages</h3>
    <div id="stack"></div>
</div> -->

<div>
    <h3>Infiniti Scroll</h3>
    <div id="inscroll"></div>
</div>


</body>
</html>